.dashboard {
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    padding: 20px;
    padding-top: 70px;
  }
  
  .filters {
    border-right: 1px solid #ddd;
    padding-right: 20px;
  }
  
  .filter-section {
    margin-bottom: 20px;
  }
  
  .filter-section h3 {
    margin-bottom: 10px;
  }
  
  .filter-section label {
    display: block;
  }
  
  .projects {
    padding-left: 20px;
  }
  
  .project-item {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .project-poster img {
    max-width: 100%;
    height: auto;
  }
  
  .project-details h2 {
    margin: 0;
    font-size: 1.5em;
  }
  
  .project-details p {
    margin: 5px 0;
  }
  
  .project-tags {
    font-size: 0.9em;
  }
  
  .project-tags .tag {
    display: inline-block;
    margin-right: 5px;
    padding: 2px 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-style: italic;
    font-weight: bold;
  }
  
  .project-info p {
    margin: 5px 0;
  }
  